* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

.App {
  display: flex;
}

.Title {
  text-align: center;
}

.Employees {
  flex-basis: 65%;
}

.Alphabet {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.Alphabet__item {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px 20px;
}

.EmployeesBDays {
  flex-basis: 35%;
  position: relative;
}

.EmployeesBDays__title {
  border-bottom: 1px solid currentColor;
  padding-bottom: 40px;
  width: 75%;
}

.MonthsList {
  padding: 0 10px 0 30px;
  list-style: none;
}

.MonthsList::before {
  content: "";
  display: block;
  background-color: currentColor;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 120px;
  bottom: 0;
  left: -20px;
}

.EmployeesList--by-lastname {
  list-style: none;
}

.EmployeesList--by-lastname .Employee--active {
  color: blue;
}

.EmployeesList--by-month {
  list-style: disc;
  padding-left: 20px;
}

.Employee {
  font-weight: bold;
  font-size: 18px;
}
